rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() { return request.auth != null; }
    function isAdmin() {
      return isSignedIn() && (
        request.auth.uid == "dIuXc604onXcz7OEEFdmNu8EGhJ3" ||
        request.auth.uid == "9VVH0EkxXpNO8dJKyP3C4dKmkbt1"
      );
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow write: if request.auth.uid == userId || isAdmin();
    }

    match /job_listings/{listingId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /applications/{appId} {
      allow read: if isAdmin() ||
        (isSignedIn() && resource.data.studentId == request.auth.uid);
      allow create: if isSignedIn() &&
        request.resource.data.studentId == request.auth.uid;
      allow update, delete: if isAdmin();
    }

    match /reports/{reportId} {
      allow create: if isSignedIn();
      allow read, update, delete: if isAdmin();
    }

  }
}